<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <% if (user) {%>
        <% if (user.role === 'member') {%>
          <li><a href="/member">Member</a></li>
        <%} else if (user.role === 'author') {%>
          <li><a href="/author">Author</a></li>
        <%}%>
        <li><a href="/auth/logout">Logout</a></li>
      <%} else {%>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      <%}%>
    </ul>
  </div>
</nav>