<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <!-- The only available methods through the HTML <from> tag are: GET and POST -->
    <form action="/contact" method="POST">
        <input type="text" name="email"      placeholder="email">
        <input type="text" name="subject"    placeholder="subject">
        <textarea type="text" name="message" placeholder="message"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>